body {
  background-color: #dddddd;
  height: 100%;
  color: black;
  text-align: center;
  font-family: monospace;
  margin-top: 50px;
}

#home-wrapper {
  height: 100%;
  text-align: center;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}

#info {
  padding: 10%;
}

#work-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

a:any-link {
  text-align: center;
  justify-content: center;
  text-decoration-line: none;
  color: white;
  margin: auto;
  display: block;
  font-size: 16px;
}

.tile {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 18px;
  font-family: serif;
  width: 200px;
  height: 200px;
  margin: 25px;
}

.title {
  font-size: 20px;
}

.desc {
  font-size: 16px;
}

.teal {
  background-color: #39cccc;
  color: #111111;
  text-decoration-color: #111111;
}

.fuschia {
  background-color: #f012be;
  color: #111111;
  text-decoration-color: #111111;
}

.aqua {
  background-color: #7fdbff;
  color: #111111;
  text-decoration-color: #111111;
}

.orange {
  background-color: #ff851b;
  color: #111111;
  text-decoration-color: #111111;
}

.navy {
  background-color: #001f3f;
  color: #111111;
  text-decoration-color: #111111;
}

.red {
  background-color: #ff4136;
  color: #111111;
  text-decoration-color: #111111;
}
