body {
  background-color: #dddddd;
  height: 100%;
  color: black;
  /* text-align: center; */
  font-family: monospace;
  margin-top: 50px;
}

#home-wrapper {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  display: flex;
  /* justify-content: space-between; */
  justify-content: left;
  /* vertical-align: center; */
}

#info {
  padding: 10%;
  justify-content: center;
  vertical-align: center;
}

#work-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

a.light:any-link {
  /* text-align: center; */
  /* justify-content: center; */
  text-decoration-line: none;
  color: #eeeeee;
  margin: auto;
  display: block;
  font-size: 16px;
}

a.dark:any-link {
  /* text-align: center; */
  /* justify-content: center; */
  text-decoration-line: none;
  color: #333333;
  margin: auto;
  display: block;
  font-size: 16px;
}

a.name:any-link {
  /* text-align: center; */
  /* justify-content: center; */
  text-decoration-line: none;
  color: #a9dc76;
  margin: auto;
  display: block;
  font-size: 16px;
}

a.light:hover,
a.dark:hover {
  color: #a9dc76;
}

a.name:hover {
  color: #eeeeee;
}

.tile {
  display: flex;
  padding: 30px;
  align-items: left;
  font-size: 18px;
  font-family: serif;
  /* vertical-align: center; */
  width: 150px;
  height: 150px;
  margin: 25px;
}

.title {
  font-size: 20px;
}

.desc {
  font-size: 16px;
  line-height: 1.25;
}

.dark {
  color: #111111;
}
.light {
  color: #eeeeee;
}

.teal {
  background-color: #39cccc;
  color: #111111;
  text-decoration-color: #111111;
}

.fuschia {
  background-color: #f012be;
  color: #111111;
  text-decoration-color: #111111;
}

.aqua {
  background-color: #7fdbff;
  color: #111111;
  text-decoration-color: #111111;
}

.orange {
  background-color: #ff851b;
  color: #111111;
  text-decoration-color: #111111;
}

.navy {
  background-color: #001f3f;
  color: #111111;
  text-decoration-color: #111111;
}

.red {
  background-color: #ff4136;
  color: #111111;
  text-decoration-color: #111111;
}

.yellow {
  background-color: #ffdc00;
  color: #111111;
  text-decoration-color: #111111;
}

.olive {
  background-color: #3d9970;
  color: #111111;
  text-decoration-color: #111111;
}
